body {
  background: url('lacs-et-plans-d-eau.jpg')center;
  background-repeat:no-repeat;
  background-size: cover;


}

.col-sm-8 {
  background-color: #FFF;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 674px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0);
}

.col-sm-8 {
  min-height: calc(100vh - 52px);
}

/* Set black background color, white text and some padding */
footer {
  background-color: #000000;
  color: white;
  padding: 5px;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
.b {font-size: 29px;
}
.c::before {content: "→"; color: black ;
font-size: 29px;}
.c {font-size: 29px}
.a::before {content: "•"; color: black ;}
.p{
  font-size: 29px
}
/* Déclaration de la police */
@font-face {
font-family: "Providence";
src: url('Providence.ttf');
}
.police{
font-family: "Providence";
}
